/*style.css
 *Holds all the css framework styling
 *applicable on all pages of site
 *Written by Alyssa Christopher
 *9-18-2017
 */

/*for header box on top of site
 *Other styles will be more specific with their own box*/
.header{
     background-color: #a5c6e8;
     height: 25%;
     width: 50%;
     position: fixed;
     margin: 100px;
     text-align: right;
}

.h1{
  font-family: 'Playfair Display SC', serif;
  padding-top: 100px;
  text-align: inherit;
  color: #fff;
}

.mainblock{
     background-color: #bababa;
     width: 75%;
}
