/*style.css
 *Holds all the css framework styling
 *applicable on all pages of site
 *Written by Alyssa Christopher
 *9-18-2017
 */

/*for header box on top of site
 *Other styles will be more specific with their own box*/
.header{
  background-color: #a5c6e8;
  height: 25%;
  position: relative;
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 7.5%;
  padding-bottom: 1%;
  text-align: right;
  border-radius: 10px;
  vertical-align: middle;
}

.header_text{
  position: relative;
  padding-right: 2%;
  padding-bottom: 2%;
}

.h1{
  font-family: 'Playfair Display SC', serif;
  text-align: inherit;
  padding-right: 2%;
  font-size: 34px;
  color: #fff;
}

.h2{
  font-family: 'Playfair Display SC', serif;
  text-align: inherit;
  font-size: 22px;
  color: #fff;
}

.mainblock{
  background-color: #bababa;
  position: relative;
  height: 75%;
  border-radius: 10px;
  margin-top: 2%;
  margin-right: 10%;
  margin-left: 10%;
  padding: 3%;
  min-height: 500px;
}

.side_bar{
  background-color: #fff;
  font-family: 'Playfair Display SC', serif;
  position: relative;
  float: left;
  margin-right: 85%;
  border-radius: inherit;
  padding: inherit;
  color: #bababa;
}

.main_content{
  background-color: #fff;
  font-family: 'Titillium Web', sans-serif;
  position: relative;
  float: right;
  padding: 2%;
  margin-left: 20%;
  border-radius: inherit;
  float: right;
  color: #191919;
}
